.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  border-bottom: 3px solid black;
}
.container .onlyLogo {
  width: 18%;
  background: url(../../images/kebap.jpeg);
  background-size: cover;
}
.containerCustom {
  width: 100rem;
  height: 5rem;
  margin: 1.5rem 1rem;
  padding: 0.25rem;
  padding-right: 25rem;
  background: none;
  color: white;
  font-style: italic;
}

.containerCustom header h4, .containerCustom header h5 {
  font-size: 2rem;
}
.productsCustom {
  margin: 0 auto;
  text-align: center;
}
  
  .productItemsList {
    display: flex;
    flex-wrap: wrap;
  }


