.itemCustom {
  margin: 1rem 0.5rem;
  width: 23%;
  position: relative;
  height: 20rem;
}

.Kebap {
  background-image: url(../../images/kebap.jpeg);
} 
.Lahmacun {
  background-image: url(../../images/lahmacun.jpg);
}
.Pizza {
  background-image: url(../../images/pizza.jpeg);
}
.Simit {
  background-image: url(../../images/simit.jpg);
}

.Ekmek {
  background-image: url(../../images/ekmek.jpg);
}

.Kahve {
  background-image: url(../../images/kahve.jpg);
}

.Milkshake {
  background-image: url(../../images/milkshake.jpg);
}

.Kurabiye {
    background-image: url(../../images/kurabiye.jpg);
}

.YaşPasta {
  background-image: url(../../images/yaşpasta.jpg);
}
.Latte {
  background-image: url(../../images/latte.jpg);
}
.photo {
  width: 99%;
  height: 47.5%;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  right: 2px;
  left: 2px;
  background-size: cover;
  border-radius: 0.5rem;
}

.productItemCard {
  background-size: cover;
  color: black;
  margin: 0px;
  width: 100%;
  height: 168px;
}

.itemCustom .infos {
  display: flex;
  justify-content: space-between;
   align-items: baseline;
 } 

.itemCustom header img {
  width: 100%;
}
.infos h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
.details {
  padding: 0.5rem;
  font-weight: bold;
  text-align: left;
} 

  .priceCustom {
    border-radius: 30px;
    padding: 0.15rem 1rem;
    background-color: #3a3a3a;
    color: white;
    font-size: 0.75rem;
    width: 50%;
  }

  .amount {
    margin-left: 0.25rem;
    opacity: 0.7;
  }

  .details {
    padding-left: 0px;
  }
  .priceCustom span{
    text-decoration: line-through;
    border-radius: 30px;
    padding: 0.15rem 1.5rem;
    background-color: #3a3a3a;
    color: white;
    font-size: 1rem;
  }
  
  .itemCustom p {
    color: #3a3a3a;
    font-size: 0.75rem;
  }

  .actionsCustom {
    height: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  }
  .actionsCustom p {
    font-size: 0.85rem;
  }
  
  .actionsCustom button {
    margin-left: 5.5rem;
    font-size: 0.78rem;
    background: #008080;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .actionsCustom button:hover{
    background: white;
    color: black;
  }