.itemCustom {
  color: white;
  border: 1px solid black;
  font-size: large;
  display: flex;
  padding: 0;
  background-color:gray;
  border-radius: 1rem;
}
.headerPart {
  width: 29%;
  margin: 0 1rem;
}
.otherPart {
  width: 71%;
  position: relative;
  margin: 0;
  border-radius: 1rem;
}
.Kebap {
  background: url(../../images/kebap.jpeg);
  background-size: 35%;
}

.Pizza {
  background: url(../../images/pizza.jpeg);
  background-size: 35%;
}

.Lahmacun {
  background: url(../../images/lahmacun.jpg);
  background-size: 35%;
}

.itemCustom h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: black;
  }
  
  .itemCustom header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .itemCustom p {
    color: black;
    font-size: 1rem;
    opacity: 0.8;
  }

  .actionsCustom {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    left: 11rem;
  }

  .actionsCustom button {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    border: 1px solid teal;
    cursor: pointer;
    margin: 0 0.06rem;
    font-size: 1rem;
  }
  .actionsCustom button a {
    text-decoration: none;
    color: white;
  }

.actionsCustom button:hover,
.actionsCustom button:active {
  background-color: #1ac5d1;
  border-color: #1ac5d1;
  color: white;
}