.itemCustom {
  background: url(../../images/pexels-ella-olsson-1640777.jpg);
  background-size: cover;
}
.itemCustom h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
  }
  
  .itemCustom header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .itemCustom p {
    color: #3a3a3a;
  }

  .actionsCustom {
    display: flex;
    justify-content: flex-end;
  }