.cartCustom {
    max-width: 30rem;
    background-color: #313131;
    color: white;
    position: relative;
  }
  
  .cartCustom h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  
  .cartCustom ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cart__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cart__footer button {
    border-radius: 10px;
  }