.itemCustom {
  width: 25%;
}

.itemCustom h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.itemCustom .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.priceCustom {
  font-size: 1.4rem;
}

.priceCustom span {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.itemCustom p {
  color: #3a3a3a;
}

.actionsCustom {
  display: flex;
  justify-content: flex-end;
}

.details {
  position: relative;
  font-size: 1rem;
}

.details input {
  position: absolute;
  left: 15%;
}

.details button {
  font-size: 12px;
  margin-right: 2%;
  margin-top: 2%;
}

.actionsCustom button {
  padding: 4px;
  font-size: 0.75rem;
}