.itemCustom {
  width: 25%;
}

.itemCustom h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.itemCustom .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.priceCustom {
  font-size: 1.4rem;
}

.priceCustom span {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.itemCustom p {
  color: #3a3a3a;
}

.actionsCustom {
  display: flex;
  justify-content: flex-end;
}

.update_btn {
  background: green;
  color: white;
  border-radius: 5px;
}
.update_btn:hover {
  background: white;
  color: green;
}
.update_btn_two {
  background-color: green;
  color:white;
  border-radius: 5px;
}

.update_btn_two:hover {
  background: white;
  color: green;
}
.cancel_button {
  margin-left: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.cancel_button:hover {
  background: white;
  color: red;
}

.details_div {
  display: flex;
  justify-content: space-between;
}

.actionsCustom button {
  padding: 4px;
  font-size: 0.75rem;
}