.activeProducts {
  height: 20px;
}
.activeProducts ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .activeProducts div {
    text-align: center;
  }
  .activeProducts label {
    font-size: 2rem;
    color: white;
    margin: 1rem;
  }

  .activeProducts input {
    width: 40%;
  }
  .activeProducts button {
    margin: 1rem;
    background-color: black;
  }

  .activeProductUl {
    display: flex;
  }