.cartCustom {
    max-width: 30rem;
    background-color: #313131;
    color: white;
    position: relative;
  }
  
  .cartCustom h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  
  .cartCustom ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .closeButton {
    width: 20%;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 0;
  }